<%= turbo_frame_tag :events_page do %>
  <%= turbo_stream_from dom_id(Current.company, :events) %>

  <div class="card mb-3">
    <div class="card-header">
      <%= link_to t(".agenda"), app_agenda_path, class: "text-sm float-end", data: { turbo_frame: :remote_modal } if policy([:app, :agenda]).show? %>

      <%= Event.model_name.human.pluralize %>
    </div>

    <div class="card-body">
      <p class="lead mb-0"><%= t('.today') %>, <%= l Time.zone.today, format: :agenda %></p>
    </div>

    <div id="events">
      <%= render App::EventComponent.with_collection(@events) %>
    </div>
  </div>
<% end %>
